
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}

.btn.btn.btn-primary:hover {
    background: var(--bs-primary) !important;
    color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
}

.btn.btn-secondary {
    background: transparent;
    color: var(--bs-secondary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    transition: 0.5s;
}

.btn.btn-secondary:hover {
    color: var(--bs-primary) !important;
}


/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: -6px;
    margin-left: -100px;
    border: 1px solid var(--bs-secondary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: -8px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: -8px;
    margin-right: -100px;
    border: 1px solid var(--bs-secondary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -6px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 768px) {
    .topbar {
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-primary) !important;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-primary) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-secondary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary) !important;
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 991.98px) {
    .sticky-top .navbar-light {
        background: var(--bs-light) !important;
    }

    /*** Top and Bottom borders go out ***/
    .navbar-light .navbar-nav .nav-link:after,
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        top: 30px;
        bottom: 30px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: var(--bs-primary);
        opacity: 0;
        transition: all 0.5s;
    }

    .navbar-light .navbar-nav .nav-link:before {
        bottom: auto;
    }

    .navbar-light .navbar-nav .nav-link:after {
        top: auto;
    }

    .navbar-light .navbar-nav .nav-link:hover:before,
    .navbar-light .navbar-nav .nav-link.active:before {
        top: 20px;
        opacity: 1;
    }

    .navbar-light .navbar-nav .nav-link:hover::after,
    .navbar-light .navbar-nav .nav-link.active::after {
        bottom: 20px;
        opacity: 1;
    }
}

#searchModal .modal-content {
    background: rgba(240, 245, 251, 0.5);
}
/*** Navbar End ***/

/************ Start Misr Travel ***********/

p {
    direction: rtl;
    /* text-align: justify; */
    
}

.d-flex {
    display: flex !important;
    flex-direction: row;
    /*justify-content: end;*/ 
     align-items: end; 
}

/* 
---------------------------------------------
 End Banner
--------------------------------------------- 
*/

/*==========================
 homepage twelve
 ===================== */
#banner_twelve {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 525px 0px 300px 0px;
    text-align: center;
}

.video_banner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.banner_twelve_text h1 {
    font-size: 96px;
    line-height: 120px;
    color: var(--white-color);
    font-weight: 500;
}

.banner_twelve_text h1 span {
    font-size: 96px;
    font-weight: 200;
}
/* End Banner*/

/* start video*/
/* End  video*/

/* Start Service */

img.img-fluid.service {
    position: relative;
    left: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* End Service */

/*  Start About Us*/

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, 0.24), rgba(9, 30, 62, 0.205)), url(../img//misrtravel/beautiful-sunset-its-reflection-water_181624-20266.avif) center center no-repeat;
    background-size: cover;
}

/*** Start Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: -317px 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #5f5e5e3f;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}

/* End Team */

/*---------Start Log company-----------*/



/*---------End Log company-----------*/

/******  End About Us ******/

/******  Start finance Us ******/

.bg-breadcrumb-f {
    background: linear-gradient(rgba(0, 58, 102, 0.507), rgba(0, 58, 102, 0.486)), url(../img//misrtravel/finance-business-accounting-analysis-management-concept.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    padding: 100px 0 60px 0;
}

/*------------ Start Chart--------------*/

.base {
    position: absolute;
    bottom: 0px;
    left: -35px;
    width: 950px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    -webkit-transform: skew(45deg);
}

.chart-container {
    position: relative;
    z-index: 0;
    margin: 15px auto 0;
    width: 100%;
    height: 420px;
    /*border: solid 1px #bbb;*/
    background-color: rgba(255, 255, 255, 0.055);
    /*  -webkit-box-shadow: 0 8px 6px -6px #444;
*/
}

.chart-container:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -8px;
    height: 15px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.055);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

.chart-container>table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-color: #656565;
}

.chart-container table tr td {
    width: 100px;
    height: 98px;
    border: solid 1px rgba(255, 255, 255, 0.05);

}

.meter {
    position: relative;
    top: 0px;
    left: -30px;
    height: 420px;
    width: 30px;
    background-color: rgba(20, 113, 163, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);

}

.meter:before {
    content: "";
    position: absolute;
    top: -7px;
    left: -15px;
    width: 15px;
    height: 420px;
    background-color: rgba(14, 81, 117, 0.9);
    -moz-transform: skewY(45deg);
    -o-transform: skewY(45deg);
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
}

.meter:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -8px;
    width: 30px;
    height: 15px;
    background-color: rgba(13, 171, 217, 0.45);
    -moz-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

.meter li {
    position: relative;
    list-style-type: none;
    height: 50px;
    border-bottom: solid 1px #0DABD9;
}

.meter li:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -30px;
    width: 30px;
    height: 100%;
    border-bottom: solid 1px #0DABD9;
    -moz-transform: skewY(45deg);
    -o-transform: skewY(45deg);
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
}

.meter li:last-child {
    border-bottom: none;
}

.meter li:last-child:before {
    border: 0;
}

.meter li div {
    position: absolute;
    left: -130px;
    top: -50px;
    padding: 55px 0 0;
    width: 80px;
    color: #656565;
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}


/* finance */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #4e4e4e;
}

/* finance */

/* ---------------------
  Vertical Bars
----------------------*/

.bar {
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
    height: 35%;
    width: 40px;
    margin: 0 40px;
    background-color: rgba(107, 255, 49, 0.35);
}

.bar:before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 7px;
    height: 100%;
    width: 15px;
    background-color: rgba(107, 255, 49, 0.25);
    -webkit-transform: skewY(45deg);
}

.bar:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -8px;
    width: 40px;
    height: 15px;
    background-color: rgba(107, 255, 49, 0.45);
    -moz-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

.one {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: rgba(33, 19, 231, 0.253);
    left: 7%;
    height: 25%;
}

.one:before {
    background-color: rgba(94, 49, 255, 0.473);
}

.one:after {
    background-color: rgba(94, 49, 255, 0.521);
}

.two {
    position: absolute;
    bottom: 7px;
    color: #ffff;
    background-color: rgba(231, 19, 19, 0.829);
    left: 22.5%;
    height: 3%;
    width: 55px;
}

.two:before {
    background-color: rgba(231, 19, 19, 0.829);
}

.two:after {
    width: 55px;
    background-color: rgba(231, 19, 19, 0.829);

}

.three {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: rgba(107, 255, 49, 0.45);
    left: 42%;
    height: 30%;
    width: 50px;

}

.three:before {
    background-color: rgba(107, 255, 49, 0.45);
}

.three:after {
    width: 50px;
    background-color: rgba(107, 255, 49, 0.45);
}

.four {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: rgba(79, 231, 19, 0.774);
    left: 60.5%;
    height: 62%;
    width: 50px;
}

.four:before {
    background-color: rgba(79, 231, 19, 0.774);
}

.four:after {
    width: 50px;
    background-color: rgba(79, 231, 19, 0.774);
}

.five {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: rgba(27, 90, 2, 0.959);
    left: 80%;
    height: 85%;
    width: 55px;
}

.five:before {
    background-color: rgba(27, 90, 2, 0.959);
}

.five:after {
    width: 55px;
    background-color: rgba(27, 90, 2, 0.959);
}

.date-one {
    position: absolute;
    left: 75px;
    font-weight: bold;
}

.date-two {
    position: absolute;
    left: 230px;
    font-weight: bold;
}

.date-three {
    position: absolute;
    left: 410px;
    font-weight: bold;
}

.date-four {
    position: absolute;
    left: 570px;
    font-weight: bold;
}

.date-five {
    position: absolute;
    left: 755px;
    font-weight: bold;
}

/*------------ End Chart--------------*/


/*------------ Start Chart2--------------*/

.one2 {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: #A5A5A5;
    left: 7%;
    height: 30%;
}

.one2:before {
    background-color: #A5A5A5;
}

.one2:after {
    background-color: #A5A5A5;
}

.two2 {
    position: absolute;
    bottom: 7px;
    color: #ffff;
    background-color: #c5e0b491;
    left: 22.5%;
    height: 40%;
    width: 55px;
}

.two2:before {
    background-color: #c5e0b491;
}

.two2:after {
    width: 55px;
    background-color: #c5e0b491;

}

.three2 {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: #A9D18E;
    left: 42%;
    height: 50%;
    width: 50px;

}

.three2:before {
    background-color: #A9D18E;
}

.three2:after {
    width: 50px;
    background-color: #A9D18E;
}

.four2 {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: #548235;
    left: 60.5%;
    height: 60%;
    width: 50px;
}

.four2:before {
    background-color: #548235;
}

.four2:after {
    width: 50px;
    background-color: #548235;
}

.five2 {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    background-color: #385723;
    left: 80%;
    height: 70%;
    width: 55px;
}

.five2:before {
    background-color: #385723;
}

.five2:after {
    width: 55px;
    background-color: #385723;
}

/*------------ End Chart2--------------*/

/*  End finance Us*/

/* Start News */
/*-------------------------------------
        10. Blog
--------------------------------------*/
/*.blog {
    padding: 120px 0 90px;
}*/

.blog-content {
    margin-top: 80px;
}

.single-blog-item {
    margin-bottom: 30px;
    box-shadow: 0 0px 5px rgba(71, 71, 71, .2);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 15px 15px 0 0;
    border: 1px solid #3333333b;
}

.single-blog-item-txt {
    padding: 25px 28px 27px;
    background-color: #FFFF;
}

/*.single-blog-item-txt h2 a {
    text-transform: initial;
    line-height: 1.8;
}

/*.single-blog-item-txt h4 {
    font-size: 14px;
    color: #8f949d;
    font-weight: 400;
    margin: 12px 0 20px;
}*/

/*.single-blog-item-txt h4 a {
    font-size: 14px;
    padding-right: 14px;
    border-right: 1px solid #dde0e4;
    margin-right: 15px;
    text-transform: uppercase;
}*/

.single-blog-item:hover h4 a {
    color: #c99f41;
}

.single-blog-item:hover {
    box-shadow: 0 10px 20px rgba(21, 19, 19, .4);
}

.single-blog-item-img img{
    border: none;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

p.mb-2.post-by:hover {
    color: #c99f41;
}

a.post-by:hover {
    color: #c99f41;
}
/* End News */

/*** Gallery Start ***/

.bg-breadcrumb-h {
    background: linear-gradient(rgba(0, 58, 102, 0.9), rgba(0, 58, 102, 0.247)), url(../img/misrtravel/romance/694A0593-scaled-e1711540859712.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    padding: 100px 0 60px 0;
}

.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery .gallery-item img {
    min-height: 300px;
    object-fit: cover;
}

.gallery .gallery-item .gallery-content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.5s;
}

.gallery .gallery-item .gallery-content .gallery-info {
    position: relative;
    margin-bottom: -100%;
    opacity: 0;
    transition: 0.5s;
}

.gallery .gallery-item .gallery-plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
}

.gallery .gallery-item:hover .gallery-content .gallery-info,
.gallery .gallery-item:hover .gallery-plus-icon {
    opacity: 1;
    margin: 0;
}

.gallery .gallery-item img {
    transition: 0.5s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.2);
}

.gallery .gallery-item:hover .gallery-content {
    background: rgba(19, 53, 123, 0.8);
}

.gallery .tab-class .nav-item {
    padding: 0 0 20px 0;
}

.gallery .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}

.gallery .tab-class .nav-item a.active span {
    color: var(--bs-white) !important;
}

/*** Gallery End ***/

/************ End Misr Travel ***********/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 58, 102, 0.9), rgba(0, 58, 102, 0.8)), url(../img/breadcrumb.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    padding: 100px 0 60px 0;
}
/*** Single Page Hero Header End ***/


/*** Carousel Hero Header Start ***/
.carousel-header .carousel-control-prev .carousel-control-prev-icon,
.carousel-header .carousel-control-next .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    margin-left: -60px;
    border-radius: 50%;
    background-size: 60% 60%;
    transition: 0.5s;
}

.carousel-header .carousel-control-next .carousel-control-next-icon {
    margin-left: 0;
    margin-right: -60px;
}

.carousel-header .carousel .carousel-indicators {
    padding-bottom: 0;
    transition: 0.5s;
}


.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    border: 8px solid var(--bs-primary);
    border-radius: 50%;
    margin-right: 30px;
    transition: 0.5s;
}

.carousel-header .carousel .carousel-indicators li.active {
    width: 8px;
    height: 8px;
    border: 8px solid var(--bs-secondary);
}

.carousel-header .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh 
}

.carousel-header .carousel-inner .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-header .carousel-inner .carousel-item .carousel-caption  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.116));
    background-size: cover;
}


@media (max-width: 768px) {
    .carousel-header {
        height: 700px !important;
    }

    .carousel-header .carousel-control-prev .carousel-control-prev-icon,
    .carousel-header .carousel-control-next .carousel-control-next-icon {
        margin-top: 500px;
    }

    .carousel-header .carousel-control-prev .carousel-control-prev-icon {
        margin-left: 0px;
    }

    .carousel-header .carousel-control-next .carousel-control-next-icon {
        margin-right: 0px;
    }

    .carousel-header .carousel .carousel-indicators {
        padding: 0;
    }
}
/*** Carousel Hero Header End ***/


/*** Counter Facts Start ***/
.counter-facts {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.8)), url(../img/breadcrumb.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.counter-facts .counter {
    position: relative;
    text-align: center;
    width: 200px;
    min-height: 215px;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    background: var(--bs-white);
}

.counter-facts .counter:before {
    content: "";
    position: absolute;
    height: 105px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--bs-primary);
    
}
.counter-facts .counter .counter-icon {
    position: relative;
    width: 120px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 10px 10px 0 0;
    transform: translateY(-20px);
    font-size: 50px;
    line-height: 90px;
    color: var(--bs-secondary);
    background: rgba(1, 143, 252, 0.5);
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
.counter-facts .counter .counter-icon:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 90px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
    background: rgba(0, 58, 102, 0.5);
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
.counter-facts .counter:hover .counter-icon i {
    transform: rotate(360deg);
    transition: all 0.3s ease;
}
.counter-facts .counter h3 {
    color: var(--bs-primary);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.counter-facts .counter .counter-value {
    font-size: 30px;
    font-weight: 700;
    display: block;
    color: var(--bs-secondary);
}

@media screen and (max-width: 1200px) {
    .counter-facts .counter { margin-bottom: 40px; 
    }
}
/*** Counter Facts End ***/


/*** service Start ***/
.service .service-item {
    position: relative;
    overflow: hidden;
}

.service .service-item .service-inner .service-title {
    position: relative;
    margin-top: -30px;
    text-align: center;
    transition: 0.5s;
}

.service .service-item .service-inner .service-title .service-content {
    position: absolute;
    bottom: -100%; 
    left: 0;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    border-radius: 10px;
    background: var(--bs-primary);
    opacity: 0;
    transition: 0.5s;
}

.service .service-item:hover .service-inner .service-title .service-content {
    bottom: 0;
    opacity: 1;
}

.service .service-item .service-inner .service-title .service-content a h4 {
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.service .service-item .service-inner .service-title .service-title-name {
    transition: 0.5s;
}

.service .service-item:hover .service-inner .service-title .service-title-name {
    opacity: 0;
}

.service .service-item .service-inner .service-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.service .service-item .service-inner .service-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    transition: 0.5s;
    opacity: 0;
}

.service .service-item:hover .service-inner .service-img::after {
    height: 100%;
    opacity: 1;
}

.service .service-item .service-inner .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-inner .service-img img {
    transform: scale(1.3);
}
/*** Service End ***/


/*** Features Start ***/
.features .feature-item {
    position: relative;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.features .feature-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0, 58, 102, 0.1);
    z-index: -1;
    transition: 0.5s;
}

.features .feature-item:hover::after {
    height: 100%;
}

.features .feature-item .feature-icon {
    width: 120px; 
    height: 120px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-light);
    transition: 0.5s;
}

.features .feature-item:hover .feature-icon {
    border-radius: 50%;
    background: var(--bs-white) !important;
}

.features .feature-item .feature-icon i {
    transition: 0.5s;
}

.features .feature-item:hover .feature-icon i {
    color: var(--bs-secondary) !important;
    transform: rotate(360deg);
    transition: all 0.5s ease;
}
/*** Features End ***/


/*** Country Start ***/
.country .country-item {
    position: relative;
}

.country .country-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 58, 102, 0.7);
    border-radius: 10px;
    transition: 0.5s;
    z-index: 1;
}

.country .country-item:hover::after {
    height: 100%;
}

.country .country-item .country-flag {
    position: absolute;
    width: 90px; 
    height: 90px; 
    border-radius: 50%;
    top: -45px; 
    left: 50%; 
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: 2;
}

.country .country-item .country-flag img {
    border: 5px solid var(--bs-white);
    transition: 0.5s;
}

.country .country-item:hover .country-flag img {
    border: 5px solid var(--bs-white);
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

.country .country-item .country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.country .country-item:hover .country-name {
    opacity: 1;
}

.country .country-item img {
    transition: 0.5s;
}

.country .country-item:hover img {
    transform: scale(1.2);
}

.country .country-item .country-name a.fs-4 {
    transition: 0.5s;
}

.country .country-item .country-name a.fs-4:hover {
    color: var(--bs-secondary) !important;
}
/*** Country End ***/


/*** testimonial Start ***/
.testimonial .owl-carousel.testimonial-carousel {
    position: relative;
}

.testimonial .owl-carousel.testimonial-carousel .testimonial-item .testimonial-content {
    position: relative;
    border-radius: 10px;
    background: var(--bs-light);
}

.testimonial .owl-carousel.testimonial-carousel .testimonial-item .testimonial-content::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    bottom: -20px;
    left: 30px;
    transform: rotate(45deg);
    background: var(--bs-light);
    z-index: -1;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav {
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
    font-size: 40px;
    color: var(--bs-primary);
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev {
    margin-right: 40px;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev,
.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--bs-secondary);
}
/*** testimonial end ***/


/*** training Start ***/
.training .training-item .training-inner {
    position: relative;
}

.training .training-item .training-inner .training-title-name {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.39);
    display: flex; 
    flex-direction: column;
    justify-content: end;
    text-align: center;
    transition: 0.5s;
}

.training .training-item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.training .training-item:hover .training-inner .training-title-name {
    background: rgba(0, 58, 102, 0.5);
}

.training .training-item:hover .training-inner .training-title-name a {
    opacity: 0;
}

.training .training-item .training-inner img {
    transition: 0.5s;
}

.training .training-item:hover .training-inner img {
    transform: scale(1.3);
}

.training .training-item .training-content {
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}

.training .training-item:hover .training-content {
    bottom: 0;
}  
/*** training End ***/


/*** Contact Start ***/
.contact .office .office-item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    background: var(--bs-light);
    transition: 0.5s;
}

.contact .office .office-item:hover {
    box-shadow: 20px 20px 20px rgba(0, 58, 102, 0.3);
}

.contact .office .office-item .office-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.contact .office .office-item .office-img img {
    transition: 0.5s;
}

.contact .office .office-item:hover .office-img img {
    transform: scale(1.3);
}

.contact .office .office-item .office-content a.text-secondary,
.contact .office .office-item .office-content a.text-muted {
    transition: 0.5s;
}

.contact .office .office-item .office-content a.text-muted:hover {
    color: var(--bs-secondary) !important;
}

.contact .office .office-item .office-content a.text-secondary:hover {
    color: var(--bs-primary) !important;
}
/*** Contact End ***/


/*** Footer Start ***/
.footer {
    background: var(--bs-primary);
}
.footer .footer-item a {
    line-height: 30px;
    color: var(--bs-white);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 30px;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-secondary);
}

/*** Footer End ***/


/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-secondary) !important;
}
/*** copyright end ***/